#Hello{
    font-size:xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: green;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    max-width: fit-content;
}

#textinput{
    display: flex;
    justify-content: center;
    align-items: center;

}
#text_input{
    background-color: gray;
    color: lightgreen;
}


button{
    border-color: green;
    border:1px;
}

#next{
    background-color: transparent;
    color:green;
    
}

body{
    background-color:black;
}
